<div class="sidebar-wrapper">
  <div class="logo">
    <a href="javascript:void(0)" class="simple-text logo-mini">
      CFS
    </a>
    <a href="javascript:void(0)" class="simple-text logo-normal">
        Hồng Đức
    </a>
  </div>
  <ul class="nav">
    <li class="">
      <a href="/">
        <i class="tim-icons icon-chart-pie-36"></i>
        <p>Thống kê</p>
      </a>
    </li>
    <li>
      <a href="/users/question.hdc">
        <i class="tim-icons icon-simple-add"></i>
        <p>Đặt câu hỏi</p>
      </a>
    </li>
    <li>
      <a href="/users/manage.hdc">
        <i class="tim-icons icon-puzzle-10"></i>
        <p>Quản lý</p>
      </a>
    </li>
  </ul>
</div>
